main{
    background: linear-gradient(
    to bottom,
    #450d80,
    #2c0a4c
    );
    border-radius: 5%;
    padding: 10px;
}

header {
    display: flex; /* Organiza os itens em linha */
    justify-content: space-between; /* Título na esquerda, botão na direita */
    align-items: start;
    padding: 5px 0px; /* Espaçamento interno */
    color: #ffffff; /* Texto branco */
}

header p {
    font-size: 1.2rem;
    margin: 0px;
}

header #title{
    text-align: center;
}

#commands-component{
    display: flex;
    gap: 5px;
}

#commands-component button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease; /* Suave mudança de cor ao hover */
}

#edit-bt {
    background-color: white;
    color: purple;
}

#edit-bt:hover {
    background-color: purple;
    color: white;
}

#edit-bt.active {
    background-color: purple;
    color: white;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 5px;
}

form .input-title {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputs-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-counter {
    font-size: 0.85rem;
    color: #6a0dad;
    font-weight: bold;
    align-self: flex-end; /* Garante que o contador fique alinhado à direita */
}

.input-box.input-error-border {
    border: 2px solid red;
}

.input-error {
    color: red;
    font-size: 0.85rem;
    visibility: hidden; /* Esconde o texto sem remover o espaço */
    min-height: 1.2em; /* Mantém a altura para garantir que o layout não mude */
}

.input-error.active {
    visibility: visible; /* Mostra o texto quando o erro estiver presente */
}


#delete-bt {
    background-color: white;
    color: red;
}

#delete-bt:hover {
    background-color: red;
    color: white;
}

.bi-circle-fill {
    font-size: 17px; /* Define o tamanho do ícone */
    transition: color 0.3s ease; /* Anima a mudança de cor */
}

#status-component i.complete {
    color: rgb(0, 255, 0); /* Cor para quando a tarefa está completa */
}

#status-component i.incomplete {
    color: rgb(255, 255, 0); /* Cor para quando a tarefa está incompleta */
}

#status-component{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1rem;
}

#times-component {
    display: flex;
    align-items: flex-end;
}

#times-component span{
    font-size: 0.8rem;
}

#description{
    margin-top: 15px;
}

footer {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo do footer à direita */
    margin-top: 10px;
}

#complete-task-bt {
    background-color: #ffffff; /* Fundo branco para contraste com o roxo */
    color: #6a0dad; /* Texto roxo */
    border: 2px solid #6a0dad; /* Borda roxa */
    margin-bottom: 5px; /* Espaçamento interno do botão */
    border-radius: 12px; /* Arredondamento nos cantos */
    cursor: pointer; /* Muda o cursor para "pointer" */
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto do botão mais destacado */
    transition: background-color 0.3s ease, color 0.3s ease; /* Suave mudança de cor ao hover */
}

#complete-task-bt:hover {
    background-color: #6a0dad; /* Cor de fundo roxa ao passar o mouse */
    color: #ffffff; /* Texto branco ao passar o mouse */
}

#edit-buttons-component {
    display: flex; /* Organiza os itens em linha */
    justify-content: flex-end;
    gap: 8px;
    align-items: center; /* Centraliza verticalmente os itens */
    color: #ffffff; /* Texto branco */ 
}

#confirm-bt:disabled {
    background-color: #ccc; /* Cor de fundo cinza claro */
    color: #666; /* Texto cinza */
    border: 2px solid #aaa; /* Borda cinza */
    cursor: not-allowed; /* Muda o cursor para indicar que não é clicável */
}

#edit-buttons-component button{
    margin-bottom: 5px; /* Espaçamento interno do botão */
    border-radius: 12px; /* Arredondamento nos cantos */
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto do botão mais destacado */
    padding: 6px 10px; 
}

#confirm-bt{
    background-color: #ffffff; /* Fundo branco para contraste com o roxo */
    color: #6a0dad; /* Texto roxo */
    transition: background-color 0.3s ease, color 0.3s ease; /* Suave mudança de cor ao hover */
    cursor: pointer;
    border: 2px solid #6a0dad; /* Borda roxa */
}



#confirm-bt:disabled:hover {
    background-color: #ccc; /* Mantém a mesma cor ao passar o mouse */
    color: #666; /* Mantém a mesma cor ao passar o mouse */
}

#confirm-bt:hover{
    background-color: #6a0dad; /* Cor de fundo roxo ao passar o mouse */
    color: #ffffff; /* Texto branco ao passar o mouse */
}

#cancel-bt{
    cursor: pointer;
    background-color: white;
    color: red;
    border: 2px solid red;
}

#cancel-bt:hover{
    background-color: red;
    color: white;
}